body{
  font:normal 13px "Arial", sans-serif;
  background: #F8F8F8;
}

/* Basic 
==========================================*/
a{ color:#a84343; }
a:hover{ color:#9c3b3b; }
figure{margin: 0;}

/* btn */
.btn, 
.dropdown-menu li > a{
  /*font-family: "Droid Sans", sans-serif;*/
}

input,
button,
select,
textarea {
  font-family: Arial, sans-serif;
}
/* Dropdown */
.dropdown-menu li > a{
  font-size: 13px;
}

.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a{
  background: #861230;
}

/* .btn-navbar */
.navbar .btn-navbar{
  background: #970f32;
  *background: #820e2c;
  background-image: -moz-linear-gradient(top,  #970f32 0%, #6b0c25 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#970f32), color-stop(100%,#6b0c25));
  background-image: -webkit-linear-gradient(top,  #970f32 0%,#6b0c25 100%);
  background-image: -o-linear-gradient(top,  #970f32 0%,#6b0c25 100%);
  background-image: -ms-linear-gradient(top,  #970f32 0%,#6b0c25 100%);
  background-image: linear-gradient(to bottom,  #970f32 0%,#6b0c25 100%);
  background-repeat: x;
  border-color: #740b26 #740b26 #56071b;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#970f32', endColorstr='#6b0c25',GradientType=0 );
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);

}

/* .btn- success */
.btn-success{
  background: #93c157;
  *background: #84b148;
  background-image: -moz-linear-gradient(top,  #93c157 0%, #76a53a 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#93c157), color-stop(100%,#76a53a));
  background-image: -webkit-linear-gradient(top,  #93c157 0%,#76a53a 100%);
  background-image: -o-linear-gradient(top,  #93c157 0%,#76a53a 100%);
  background-image: -ms-linear-gradient(top,  #93c157 0%,#76a53a 100%);
  background-image: linear-gradient(to bottom,  #93c157 0%,#76a53a 100%);
  background-repeat: repeat-x;
  border-color: #76a13f #76a13f #61882f;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93c157', endColorstr='#76a53a',GradientType=0 );
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background: #84b148;
  *background: #74a03a;
}

.btn-success:active,
.btn-success.active {
  background-color: #699035 \9;
}
/*select, textarea, input{
  font: 400 13px "Droid Sans", sans-serif;
}*/

.table{
  /*font-family: "Droid Sans";*/
}
.nav-tabs > li > a:hover {
 
  color:#555;
}

/* Header 
==========================================*/
#header .logo{
  float:left;
  margin:8px 6px 3px;
}
#header .navbar-inner{
  background: #8d1e3b;
background: -moz-linear-gradient(top,  #8d1e3b 0%, #780a27 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8d1e3b), color-stop(100%,#780a27));
background: -webkit-linear-gradient(top,  #8d1e3b 0%,#780a27 100%);
background: -o-linear-gradient(top,  #8d1e3b 0%,#780a27 100%);
background: -ms-linear-gradient(top,  #8d1e3b 0%,#780a27 100%);
background: linear-gradient(to bottom,  #8d1e3b 0%,#780a27 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8d1e3b', endColorstr='#780a27',GradientType=0 );
border-color:#802222;
}

#header .brand{
  font-size: 18px;
  font-weight: bold;
  color:#570017;
  text-shadow:1px 1px 0 rgba(255,255,255, .14);
  text-transform: uppercase;
}
#header .brand:hover{
  background: none;
}

#main-nav > li > a{
  color:#aaa;
  text-shadow:0 1px 0 #760e29;
  padding:12px 15px 12px;
}
#main-nav > li > a:hover{
  color:#fff;
}

.nav-collapse #main-nav > li.active > a,
.nav-collapse #main-nav > li.active > a:hover,
#main-nav > li.active > a,
#main-nav > li.active > a:hover{
  color:#fff;
  background: #6e0923
}

#wrapper{  margin-top: 60px;}


#filter{ background: #fff; 
  position: relative;
  margin-bottom: 16px;
  
  -webkit-box-shadow: 0 1px 6px #e499ad;
  -moz-box-shadow: 0 1px 6px #e499ad;
  box-shadow: 0 1px 6px #e499ad;
}
#filter .section{
  margin: 15px 0 0 20px;
}

#filter .section .head .title{
  color: #8a1735;
}

#filter .span4{
  position: absolute;
  right: 0;
  top:0;
  bottom: 0;
  background: #f1f1f1;
}

/* Search Job */
.search-job{
  /*border:1px solid #e4e4e4;*/
  /*padding:20px;*/
  margin: 15px 15px 0;
  border-radius:4px;
  height: 100%;
}
.search-job .input-block-level,
.search-job .btn{
  margin-bottom: 15px;
}

.search-job .btn-link{ color:#555; }
.search-job .btn-mini{ padding: 0 }

/* Section */
.section .head{
  margin-bottom: 10px;
}
.section .head .title{
  /*font:600 16px "Droid Sans", sans-serif;*/
  font-size: 16px;
  color: #353535;
  text-shadow:0 1px 0 #fff;
  margin: 6px 0;
}

/* Articulos */
.article{
  margin-bottom: 16px;
 /* min-width: 220px;*/
}
.article-content{
  background: #fff;
  border:1px solid #d9d9d9;
  padding: 8px;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(0,0,0,.1);
}

.article-content figure img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.article-info{
  /*font-family: "Droid Sans", sans-serif;*/
}
.article-info h2, .article-info h2 a{
  font-size:15px;
  
  font-weight: bold;
  margin: 0;
}

.article-info h2 a:hover{
  /*color:#555;*/
}

.article-info h2{
  line-height: 1.2em;
  margin: 10px 0;
}

.article-info p{
  color:#656565;
  line-height: 16px;
}
  .like{
    background: url(../img/ico-face.gif) no-repeat 0 14px;
    border-top: 1px solid #d3d3d3;
    font-size: 11px;
    padding: 12px 0 12px 26px;
  }
  .like p{
    margin: 0;
    color:#767676;
  }

.article-content footer{
  background: #f0f0f0;
  margin:0 -8px -8px;
  padding:8px; 
}
.article-content footer .date{
  font-size: 11px;
  color:#858585;
}
.article, .article img{
  -moz-transition: linear .3s;
  -moz-transition-property: top,left,width,height;
  -o-transition: linear .3s;
  -o-transition-property: top,left,width,height;
  -ms-transition: linear .3s;
  -ms-transition-property: top,left,width,height;
  -webkit-transition: linear .3s;
  -webkit-transition-property: top,left,width,height;
  transition: linear .3s;
  transition-property: top,left,width,height;
}

/* HOME
============================================*/
#slides .carousel-inner > .item > img{ height: 100%; }
#slides .carousel-caption h4 a{
  color:#fff;
}

/* Minibanner */
.banner-home {
  margin: 10px 0;
}
.banner-home .bn{
  text-align: center;
}


/* Login Form */
.login-form{
  background: #fff;
  padding: 15px;
  -moz-box-shadow: 0px 0px 6px #d2d2d2;
  -webkit-box-shadow: 0px 0px 6px #d2d2d2;
  box-shadow: 0px 0px 6px #d2d2d2;
}
.login-form h3{
  margin: 0;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.25em;
  margin-bottom: 10px;
}

.social-connect a{
  color:#fff;
  font-weight: normal;
  display: block;
  padding-left: 40px;
  height: 32px;
  line-height: 2.3em;
  text-align: center;
  background: #ccc;
  position: relative;
  border-radius: 4px;
  text-decoration: none;

}
.social-connect a.facebook{
  background: #677eb5;
  background: -moz-linear-gradient(top,  #677eb5 0%, #5268a1 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#677eb5), color-stop(100%,#5268a1));
  background: -webkit-linear-gradient(top,  #677eb5 0%,#5268a1 100%);
  background: -o-linear-gradient(top,  #677eb5 0%,#5268a1 100%);
  background: -ms-linear-gradient(top,  #677eb5 0%,#5268a1 100%);
  background: linear-gradient(to bottom,  #677eb5 0%,#5268a1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#677eb5', endColorstr='#5268a1',GradientType=0 );
  border:1px solid #4f66a0;
  text-shadow:1px 1px 2px #4f66a0;
}
.social-connect a:hover{
  background: #4f66a0;
  border-color: #44588c;
}

.social-connect a.facebook::before{
  content: '';
  background: url(../img/logo-fb.png) no-repeat 4px center;
  border-right:1px solid #687fb5;
  display: block;
  width:32px;
  height: 100%;
  position: absolute;
  left: 0;

}
.login-form form {
  margin: 16px 0 0 0;
}
.login-form form h4{
  border-bottom: 1px solid #ccc;
  font-size:14px;
  font-weight: normal;
  height: 10px;
  margin: 0 0 26px;
  overflow: visible;
  text-align: center;
}
.login-form form h4 span{
  background: #fff;
  padding: 0 8px;
  position: relative;
}
.login-form form input, .login-form form .btn{
  margin-bottom: 19px;
}


#articles-list .head{ text-align: center; }
#article-list .article{
   margin-left: 4px;
   margin-right: 4px;
}




/* Banner */
.banners{
  margin-top: 10px;
  margin-bottom: 10px;
}
.banner{
  text-align: center;
  margin-bottom: 10px;
}
.banner span{
  display: block;
  color: #646464;
}

.aright{ text-align: right; }


/* Comunidad */
#comunidad .tab-content{ font-size: 12px; }
#comunidad .table,#comunidad .table a
{ color:#696969; }
#comunidad .tab-pane .view{
  border-top: 1px solid #dddddd;
  margin-bottom: 10px;
  padding-top:9px; 
}


/* CV 
============================================*/
.cv-data{}
.cv-data .title-cv{

}
.cv-upc{ border:1px solid #dfdfdf; }
  .cv-details,
  .cv-content{
    padding: 20px;
  }
  .cv-details{
    background: #f2f2f2;
    border-bottom: 2px solid #8c1d1d;
  }

  .cv-details .cv-user {
    color: #555;
    font-weight: 700;
  }
  .cv-details .cv-user h2,
  .cv-details .cv-user h3{
    line-height: 1em;
    margin: 0;
    margin-bottom: 10px;
  }
  .cv-details .cv-user h2{
    color:#8c1d1d;
    font-size: 28px;
    margin-bottom: 20px;
  }

  .cv-details .cv-user-data{ color:#454545; margin: 0; }
  .cv-details .cv-user-data span,
  .cv-details .cv-user-data a{
    display: block;
    margin-bottom: 4px;
  }
  .cv-details .cv-user-data span.phone{
    font-weight: bold;
  }

  .cv-details .cv-user h3{
    font-size: 18px;
  }

  .cv-content hr{
    height: 1px solid #e5e5e5;
  }
  .cv-content .section h3{
    color: #8c1d1d;
    font-size: 14px;
    font-weight: 600;
    line-height: 1em;
    margin: 0;
  }
  .cv-content .section .detail{
    /*font-family: "Droid Sans";*/
    margin-bottom: 30px;
  }
  .cv-content .section .detail.last{ margin-bottom: 0; }
  .cv-content .section .detail p{
    font-size: 14px;
    color: #555;
    margin: 10px 0;
  }
  .cv-content .section .detail .meta .time{
    font-size: 12px;
    color:#848484;
    margin:0 0 4px 0;
  }
  .cv-content .section .detail h2{
    color:#353535;
    font-size: 14px;
    line-height: 1em;
    margin: 0 0 6px 0;
  }
  .cv-content .section .detail .meta{
    margin-bottom: 16px;
  }
  .cv-content .section .detail .meta p{
    color:#555;
    font-size: 14px;
    margin: 0 0 6px;
  }
  
  .cv-content .section .detail .describe p{
    line-height: 1.4em;
    margin: 0;
  }

/* SIDEBAR
============================================*/
.sidebar .article{
  width: auto;
}

/* Footer 
============================================*/
#footer{
  background:#f1f1f1;
  border-top:1px solid #e4e4e4;
  padding: 20px;
  margin-top: 20px;
}

/* Responsive
============================================*/

/* Screen mayor a 1200px */
@media (min-width: 1200px) {
  #slides .carousel-inner > .item > img{
    height: 100%;
  }
  #user-menu{
    margin-right: 5px;
  }
}

/* Screen Desktop 960 */
@media (min-width: 768px) and (max-width: 979px) {
  #slides .carousel-inner > .item > img{
    height: 100%;
  }
  

  /* CV */
  .cv-details .cv-user{
    /*text-align: center;
    margin-bottom: 14px;*/
  }
  .cv-details .cv-user h2{font-size: 24px; }
  .cv-details .cv-user h3{font-size: 16px; }

}

/* Tablet */
@media (max-width: 767px) {
  /* HOME */
  #slides .carousel-inner > .item > img{
    height: auto;
  }

  .login-form{
    margin-bottom: 16px;
  }

  #filter .span4{
    position: relative;
    padding-bottom: 15px;
    padding-top: 10px;
    float:none;
  }
  #filter .section{
    margin: 15px 20px 0 20px;
  }

  /* CV */
  .cv-details .cv-user{
    text-align: center;
    margin-bottom: 14px;
  }
  .cv-details .cv-user h2{font-size: 20px; margin-bottom: 10px; }
  .cv-details .cv-user h3{font-size: 16px; }
}

/* Desktop mayor a 960px  */
@media (max-width: 979px) {
  /* home */
  /*#slides .carousel-inner > .item > img{
    height: 100%;
  }*/


  #wrapper{
    margin-top: 0;
  }

  .nav-collapse #main-nav > li > a:hover{
    color:#6e0923;
    text-shadow:none;
  }

  #user-menu{
    margin-right: 5px;
  }
}

/*@media (min-width: 980px) {}*/

/* Smartphones */
@media (max-width:480px){
  #slides .carousel-inner > .item > img{
    height: auto;
  }
  .cv-section .head {
    text-align: center;
  }
  .cv-section .head .pull-left,
  .cv-section .head .pull-right{
    float: none;

  }


  .cv-details .cv-user{
    text-align: center;
    margin-bottom: 14px;
  }

  .cv-details .cv-user h2{font-size: 16px; margin-bottom: 10px; }
  .cv-details .cv-user h3{font-size: 12px; }

  #footer{
    text-align: center;
    margin-left: -20px;
    margin-right: -20px;
  }
  #footer .aright{
    text-align: center;
  }
}
