
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html style="margin: 0;padding: 0;font-family: Helvetica, Arial, sans-serif;">
<head style="margin: 0;padding: 0;font-family: Helvetica, Arial, sans-serif;">
<!-- If you delete this meta tag, Earth will fall into the sun. -->
<meta name="viewport" content="width=device-width" style="margin: 0;padding: 0;font-family: Helvetica, Arial, sans-serif;">

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" style="margin: 0;padding: 0;font-family: Helvetica, Arial, sans-serif;">
<title style="margin: 0;padding: 0;font-family: Helvetica, Arial, sans-serif;"> {{ Titulo del Email }}</title>
    
</head>

<body bgcolor="#EEEEEE" topmargin="0" leftmargin="0" marginheight="0" marginwidth="0" style="margin: 0;padding: 0;font-family: Helvetica, Arial, sans-serif;-webkit-font-smoothing: antialiased;-webkit-text-size-adjust: none;height: 100%;width: 100%!important;">

    <!-- BODY -->
    <table class="body-wrap" style="margin: 0;padding: 0;font-family: Helvetica, Arial, sans-serif;width: 100%;margin-top: 20px;">
        <tr style="margin: 0;padding: 0;font-family: Helvetica, Arial, sans-serif;">
            <td style="margin: 0;padding: 0;font-family: Helvetica, Arial, sans-serif;"></td>
            <td class="container" bgcolor="#FFFFFF" style="margin: 0 auto!important;padding: 0;font-family: Helvetica, Arial, sans-serif;display: block!important;max-width: 600px!important;clear: both!important;">
                <div class="content" style="margin: 0 auto;padding: 20px;font-family: Helvetica, Arial, sans-serif;border-left: 20px solid #8c1d1d;max-width: 600px;display: block;">
                    <table class="mb" style="margin: 0;padding: 0;font-family: Helvetica, Arial, sans-serif;margin-bottom: 10px;width: 100%;">
                            <tr style="margin: 0;padding: 0;font-family: Helvetica, Arial, sans-serif;">
                                <td style="margin: 0;padding: 0;font-family: Helvetica, Arial, sans-serif;"><h5 class="collapse" style="margin: 0;padding: 0;font-family: Helvetica, Arial, sans-serif;line-height: 1.1;margin-bottom: 15px;color: #252525;font-weight: 900;font-size: 17px;">  {{ Hola, Emilio Perez Aldebaran }} </h5> </td>
                                <td align="right" style="margin: 0;padding: 0;font-family: Helvetica, Arial, sans-serif;">
                                    <img src="http://gallery.mailchimp.com/9bf07da127d037c34a7b33313/images/upc_black.jpg" class="logo" width="88" height="28" alt="" style="margin: 0;padding: 0;font-family: Helvetica, Arial, sans-serif;max-width: 100%;display: inline-block;float: right;">
                                </td>
                            </tr>
                    </table>
                    <table style="margin: 0;padding: 0;font-family: Helvetica, Arial, sans-serif;width: 100%;">
                            <tr style="margin: 0;padding: 0;font-family: Helvetica, Arial, sans-serif;">
                                <td style="margin: 0;padding: 0;font-family: Helvetica, Arial, sans-serif;">
                                    <p style="margin: 0;padding: 0;font-family: Helvetica, Arial, sans-serif;margin-bottom: 10px;font-weight: normal;font-size: 14px;line-height: 1.6;color: #555655;">Me considero una persona espontanea, responsable, con iniciativa y puntualidad. Asimismo, tengo la facilidad de socializar y <a href="#" style="margin: 0;padding: 0;font-family: Helvetica, Arial, sans-serif;color: #9f4040;">trabajar en equipo</a>. Por otro lado, tengo conocimientos informática, lo cual me permite resolver con facilidad las obligaciones que me asignen. Asimismo, soy una persona que le gusta trabajar en orden.</p>

                                    <a href="#" class="btn" style="margin: 0;padding: 10px 16px;font-family: Helvetica, Arial, sans-serif;color: #FFF;text-decoration: none;background-color: #666;font-weight: bold;margin-right: 10px;text-align: center;cursor: pointer;display: inline-block;">Ver más</a>
                                </td>
                            </tr>
                    </table>    

                </div>
            </td>
            <td style="margin: 0;padding: 0;font-family: Helvetica, Arial, sans-serif;"></td>
        </tr>
    </table><!-- /BODY -->
</body>
</html>